* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #222;
	color: white;
}

li {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	float: left;
}

.app {
	text-align: center;
	margin: 5em auto;
}

.app h1 {
	color: black;
	margin-bottom: 1rem;
	letter-spacing: 5px;
}

.app h1 span {
	color: white;
}

.app p {
	line-height: 40px;
}

.piano {
	position: relative;

	height: 18.875em;
	width: 28rem;
	margin: 0 auto;
}

.white-keys .key {
	height: 16em;
	z-index: 1;

	width: 4rem;

	border-left: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	border-radius: 0 0 5px 5px;

	box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset,
		0 0 3px rgba(0, 0, 0, 0.2);
	background: linear-gradient(to bottom, #eee 0%, #fff 100%);
}

.white-keys .key:active,
.white-keys .key.active {
	border-top: 1px solid #777;
	border-left: 1px solid #999;
	border-bottom: 1px solid #999;
	box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset,
		-5px 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
	background: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%);
}

.black-keys {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
}

.black-keys .key {
	height: 8em;
	width: 2em;
	margin-left: 2rem;
	z-index: 2;
	border: 1px solid #000;
	border-radius: 0 0 3px 3px;
	box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
		0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
	background: linear-gradient(45deg, #222 0%, #555 100%);
}

.black-keys .key:active,
.black-keys .key.active {
	box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
		0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
	background: linear-gradient(to right, #444 0%, #222 100%);
}

.black-keys .key:first-child {
	margin-left: 3rem;
}

.black-keys .key:nth-child(3) {
	margin-left: 6rem;
}

.badge {
	background-color: #555;
	padding: 5px;
	border-radius: 6px;
	margin-left: 3px;
}